@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.repeat-y {
  background-repeat: repeat-y;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  border: 8px solid #f3f3f3; /* Light grey */

  border-top: 8px solid #4f7942; /* Blue */

  border-radius: 50%;

  width: 60px;

  height: 60px;

  animation: spin 1s linear infinite;
}
